@import "../base/variables";

/*----------main index---------------*/

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.651)), url(../img/casa2.jpg);
    width:  100%;
    height: calc(100vh - 90px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 10%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    div{
        color: $color-secundario;
        text-align: center;
        text-shadow: 0 0 2px white;
        h1{
            font-size: 45px;
            padding-bottom: 30px;
        
        }
        p{
            font-size: 20px;
            line-height: 40px;
        }
        a{

            background-color: #16355e;
            text-decoration: none;
            color: #ffff;
            font-size: 15px;
            border: 1px solid transparent;
            border-radius: 20px;
            padding: 10px;
            transition: 1s;
            &:hover{
                background-color: $color-secundario;
            }
            
        }
        
    
    }
}

.descripcionUno{
    display: flex;
    background-color: $color-secundario;
    justify-content:center;
    align-items:center;
    padding-top: 10px;
    margin: 20px;
    img{
        width: 300px;
        height: 250px;
        border-radius: 15px;
        margin: 20px;
    
    }
    div {
        padding: 20px;  
        border: 2px solid $color-principal;
        border-radius: 20px; 
        p{
            width: 500px;
            font-size: 20px;   
            
        }
    }
}

.descripcionDos{

    display: flex;
    background-color: $color-secundario;
    justify-content: center;
    align-items:center;
    padding-bottom: 10px;
    flex-direction: row-reverse;
    margin: 20px;
    img{
        width: 300px;
        height: 250px;
        border-radius: 15px ;
        margin: 20px;
    }
    div{
        padding: 20px; 
        border: 2px solid $color-principal;
        border-radius: 20px;
        p{
            width: 500px;
            font-size: 20px;
        }
    }
}

.gridGaleria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: 250px;
    gap: 15px ;
    padding: 5px;
    padding-bottom: 10px;
    background-color: $color-secundario;
    justify-items: center;
    .gridItem{
        position: relative;
        img{
            width: 45vw;
            height: 100%;
            transition: 1s;
            &:hover{
                transform: scale(1.03);
            }
        }
        h3{
            position: absolute;
            bottom: 0;
            background-color: #16355eaf;
            color: $color-secundario;
            width: 100%;
            font-size: 30px;
            text-align: center;
        }
    }
}

.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 65vw;
        img{
            height: 60vh;
            width: 100%;
        }
    }
    
    
    
    
}

.btnModelos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 1px white;
    font-size: 20px;
    h3{
        background-color: $color-principal;
        border: 1px solid $color-principal;
        border-radius: 80px;
        color: $color-secundario;
        padding: 50px;
        a{
            text-decoration: none;
            color: $color-secundario;
            padding-left: 2px;
            transition: 2s;
            &:hover{
                color:  white ;
            }
            
        }
        
    }
    

}


/*-------Main Nosotros------------*/

.tituloNosotros{
    text-align: center;
    font-size: 40px;
    padding:10px;
    margin: 20px;
    background-color: $color-principal;
    border: 1px solid black;
    border-radius: 20px;
    color: $color-secundario;
    
}

.nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: evenly;
    div{
        p{
            text-align: center;
            color: white;
            padding: 50px;
            margin: 20px;
            background-color: $color-principal;
            border: 1px solid black;
            border-radius: 20px;
            font-size: 20px;
            line-height: 30px;
            span{
                font-weight: bold;
                font-size: 25px;
            }
        }
        img{
            width: 300px;
            height: 270px;
            border-radius: 20px; 
            margin: 20px;       
        }        
    }
}

/*--------Main Contacto--------*/

.formularioContacto{
    background-color: $color-secundario;
    font-family: Arial, Helvetica, sans-serif;
    padding: 75.7px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    form{
        width: 450px;
        margin: auto;
        background: #16355e88;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 15px;
        margin: 20px;
        h2{
            color: $color-principal;
            text-align: center;
            font-size: 50px;
            margin-bottom: 10px;
        }
        input{
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 20px;
            border-radius: 15px;
        }
        textarea{
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 15px;
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
            min-width: 100%;
            border-radius: 15px;
        }
        
    }



}


/*-------------Main Modelos------------*/

.gridModelos{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: 250px;
    gap:15px;
    padding: 40px;
    .modeloItem{
        img{
            width: 100%;
            height:100%;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.mandarContacto{
    text-align: center;
    div{
        margin: 50px;
        transition: 2s;
        h3{
            background-color: $color-principal;
            padding: 20px;
            margin: 20px;
            color: $color-secundario;
            border-radius: 15px;
            font-size: 30px;
        }

        a{
            background-color: $color-principal;
            text-decoration: none;
            color: white;
            padding: 30px;
            border-radius: 15px;
            transition: 2s;
            &:hover{
                color: $color-secundario;
            }
        }
    }
    
}

/*--------- Main Planos-------*/

.gridPlanos{
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: 250px;
    gap:15px 15px;
    .itemPlanos{
        img{
            width: 30vw;
            height: 60vh;
            transition: 0.6s;
            &:hover{
                transform: scale(1.1);
            }
        } 
    }
}