@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300;1,400;1,700;1,800&display=swap');
@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

h1,h2,h3,h4,h5,h6,p,a, input, textarea{
    margin: 0;
}

body{
    background-color: $color-secundario;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    main{
        background-color: $color-secundario;
    }
}


.tituloSecundario h2{
    height: 120px;
    text-align: center;
    background-color: $color-principal;
    color: $color-secundario;
    padding-top: 30px;
    font-size: nth($font-size , 2);
    border: 1px solid black;
}

.tituloGaleria h2{
    background-color: $color-principal;
    text-align: center;
    padding: 30px;
    color: $color-secundario;
    font-size: nth($font-size , 2);
}

.tituloModelos h2{
    text-align: center;
    background-color: $color-principal;
    margin: 20px;
    padding: 30px;
    color: $color-secundario;
    font-size: nth($font-size , 2);
    border-radius: 10px;
}

.tituloPlanos {
    text-align: center;
    background-color: $color-principal;
    margin-top: 20px;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    color: $color-secundario;
    font-size: nth($font-size , 3);
    h4{
        color: white;
        margin-top: 20px;
        font-size: nth($font-size , 4);
    }
}



