@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,300;1,400;1,700;1,800&display=swap');
@import "./variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    background-color: $color-secundario;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    main{
        background-color: $color-secundario;
    }
}


.tituloSecundario h2{
    height: 120px;
    text-align: center;
    background-color: $color-principal;
    color: $color-secundario;
    padding-top: 30px;
    font-size: 40px;
    border: 1px solid black;
}

.tituloGaleria{
    background-color: $color-principal;
    text-align: center;
    padding: 30px;
    color: $color-secundario;
    font-size: 40px;
}

.tituloModelos{
    text-align: center;
    background-color: $color-principal;
    margin: 20px;
    padding: 30px;
    color: $color-secundario;
    font-size: 30px;
    border-radius: 10px;
}

.tituloPlanos{
    text-align: center;
    background-color: $color-principal;
    margin-top: 20px;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    color: $color-secundario;
    font-size: 30px;
    h4{
        color: white;
        margin-top: 20px;
        font-size: 25px;
    }
}
