$color-principal: #16355e;
$color-secundario: #ef7c11;


//! Listas !//


$colores:
#16355e,
#ef7c11,
#ffff,
#1111;

$font-size:
60px,
50px,
40px,
30px,
25px,
20px,
15px;


//! mapas

$boton:(
    bg-boton: $color-principal,
    borde: 20px,
);